@import "tailwindcss";

@theme {
  --animate-gradient: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background-color: #0a0a0a;
}
html {
  scroll-behavior: smooth;
}
